<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda eum tenetur reprehenderit laudantium fugiat facilis praesentium. Natus amet fuga molestias, debitis fugit voluptatem fugiat ab iste vel quod eveniet in.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda eum tenetur reprehenderit laudantium fugiat facilis praesentium. Natus amet fuga molestias, debitis fugit voluptatem fugiat ab iste vel quod eveniet in.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda eum tenetur reprehenderit laudantium fugiat facilis praesentium. Natus amet fuga molestias, debitis fugit voluptatem fugiat ab iste vel quod eveniet in.</p>
        
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>